@use '../base/variable.scss';

.sale-form {
    display: flex;
    justify-content: center;
}

.form {
    margin-top: 6rem;
    margin-bottom:12.6rem;
    width: 106.583rem;

    &--section {
        &__1 {
            background-color: variable.$color-mint--2;
            line-height: 2.72rem;
            padding: 2rem 2.4rem;
            border-radius: .8rem;
            margin-bottom: 7rem;
        }

        &__2 {
            margin-bottom: 4.4rem;

            &--title {
                font-size: 3.6rem;
                font-weight: 700;
                margin-bottom: 3.8rem;
            }

            &__1 {
                background-color: variable.$color-grey-7;
                padding: 2rem 2.4rem;
                border-radius: .8rem;
            }

        }

        &__3 {}
    }
}

.section {
    &__1 {
        &--text {
            &__1 {
                font-size: 1.6rem;
                font-weight: 700;
                color: variable.$color-mint--3;
            }

            &__2 {
                font-weight: 700;
                color: variable.$color-mint--3;
            }
        }
    }

    &__2 {
        &--img {
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 2rem;
        }

        &--text {
            height: 3.8rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            color: variable.$color-grey-8;
            font-weight: 400;
        }
    }
}

.input--basic {
    border: none;
    outline: none;
    height: 3.4rem;
    padding: 1.2rem;
    background-color: rgba(202, 214, 217, 0.3);
    color: #999;
    border-radius: .3rem;
    font-size: 1.6rem;
    width: 100%;

    &:focus {
        border: 1px solid #17c1a0;
    }
}

.text {
    &--black {
        color: black;
    }

    &--blue {
        color: variable.$color-blue;
        font-weight: 700;
        font-size: 1.8rem;
    }

    &--grey {
        color: grey;
    }
    &--sm{
        font-size: 1.3rem;
    }
}

.div {
    &--1 {
        margin-bottom: 3.5rem;

        &--radio-group {
            height: 4.51rem;
            margin-bottom: .5rem;
        }

        &--title {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 40.8px;
        }

        &--text {
            font-size: 1.6rem;
            font-weight: 400;
            color: rgb(54, 54, 54);
            line-height: 2.72rem;
            display: block;
            margin-bottom: 3rem;
        }
    }

    &--2 {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__input {
            &__1 {
                width: 31.2667rem;
                margin-left: .5rem;
            }
        }

        &__checkbox {
            display: none;
        }

        &__label {
            position: relative;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            padding-left: 3.5rem;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 2rem;
                height: 2rem;
                border: 1px solid black;
                border-radius: 3px;
                background-color: white;
                margin-right: 0.7rem;
                border: 1px solid rgba(54, 54, 54, 0.4);

            }

            &::after {
                content: "";
                position: absolute;
                left: 0.7rem;
                top: 0.13rem;
                width: 0.7rem;
                height: 1.2rem;
                border: solid white;
                border-width: 0 0.2rem 0.2rem 0;
                transform: rotate(45deg);
                opacity: 0;
                /* 체크되지 않은 상태에서는 보이지 않음 */
            }
        }

        &__checkbox:checked+&__label::before {
            background-color: variable.$color-mint;
            border: none;
        }

        &__checkbox:checked+&__label::after {
            opacity: 1;
        }

    }
}

.radio {
    &--btn {
        display: inline-block;
        height: 2.2rem;
        width: 2.2rem;
        border: 1px solid rgba(54, 54, 54, 0.4);
        border-radius: 50%;
        position: absolute;
        left: 0;

        &::after {
            height: 1.1rem;
            width: 1.1rem;
            content: "";
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-48%, -50%);
            background-color: #17c1a0;
            opacity: 0;
        }
    }

    &--input {
        display: none;

    }

    &--label {
        position: relative;
        padding-left: 3rem;
    }

    &--input:checked~&--label &--btn::after {
        opacity: 1;
    }
}

.red-dot {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #f25656;
    margin-bottom: .3rem;
}

.mg{
    &--sm{
        margin-bottom: 1rem;
    }
    &--md{
        margin-bottom: 5rem;
    }
    &--lg{
        margin-bottom: 7rem;
    }
    &--weird{
        margin-bottom: 3.6rem;

    }
}
.submit{
    width: 100%;
    font-size: 1.2rem;
}