.signup {
    display: grid;
    grid-template-columns: 1fr 63.45rem 1fr;
    grid-template-rows: 9.5rem 3.22rem 5.44rem 60.67rem 17.5rem;

    &--title {
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 2.6rem;
    }

    &--form {
        grid-column: 2/3;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
    }

    &--file-input{
        display: none;
    }

    &--input {
        width: 100%;
        padding: 1.2rem 1.6rem;
        font-size: inherit;
        color: #000;
        line-height: 1.2;
        border: none;
        &__first {
            border-bottom: 0;
        }
        &__second {
            border-bottom: 0;
        }
        &:focus{
            outline: none;
        }


        &__container{
            border: 1px solid rgba(54, 54, 54, 0.19);
            &__first{
                border-bottom: 0;
            }
            &__wrong{
                border: 1px solid #F84A71;
            }
        }

       
    }

    &--avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;

        &__container {
            display: flex;
            justify-content: center;
            margin-bottom: 1.5rem;
        }
    }

    &--blue {
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: #1A6Dff;
        border-radius: 50%;
        margin-left: 5px;
        vertical-align: 2px;
    }

    &--section {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
    }

    &--label {
        margin-bottom: .5rem;
        font-size: 1.4rem;
        height: 2.3rem;
    }

    &--birth {
        display: flex;
        gap: 3px;

        &__item {
            height: 4.32rem;
            width: 10.6rem;
            border: 1px solid rgba(54, 54, 54, 0.19);
            padding: 1.2rem;
            font-size: 1.6rem;
        }
    }
    &--camera{
        &__container{
            width: 3rem;
            height: 3rem;
            border: 1px solid black;
            border-radius: 50%;
            position: relative;
            background-color: #FFFFFF;
            border: 1px solid #DBDEE3;
            cursor: pointer;
            position: absolute;
            top: 52%;
            left: 53%;

            &:hover{
                background-color: #F8F9FB;
            }
        }
        &__img{
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &--avatar-section{
        position: relative;
    }
    &__invalid{
        color: #F84A71;
        padding: .7rem 0 0 1.6rem;
        font-size: 1.2rem;
    }
}
.signup-image--dropdown{
    &__ul{
        position: absolute;
        top: 83%;
        left: 53%;
        width: 14rem;
        height: 8rem;
        padding: .4rem;
        list-style: none;
        margin: .4rem 0 0;
        border-radius: .8rem;
        background-color: #FFFFFF;
        box-shadow: 0 14px 32px 0 rgba(75, 81, 91, 0.12), 0 10px 14px 0 rgba(75, 81, 91, 0.06), 0 0 0 1px rgba(75, 81, 91, 0.03), 0 0 1px 0 rgba(75, 81, 91, 0.20);
        z-index: 1;
        border: 1px solid #e5e7eb;;
    }
    &__li{
        height: 3.6rem;
        padding: .6rem .8rem;
        font-size: 1.4rem;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .8rem;
        border-radius: 6px;
        &:hover{
            background-color: #F8F9FB;
        }
        &__delete{
            color: #DD3344;
        }
        &__disabled{
            color: #BCC0C6;
            cursor: not-allowed;
        }
    }
    
    &__img{
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1;
    }
}