.signup-usertype { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 15rem 13.02rem 15.4rem 22.9rem;
}
.signup-item{
    &__1{
        grid-column: 2/3;
        grid-row:2/3 ;
        font-size: 2.6rem;
    }
    &__2{
        grid-column: 2/3;
        grid-row:3/4;
        display: flex;
        flex-direction: column;
    }
}