@use '../base/variable.scss';

.btn {
    font-size: 1.4rem;
    border: 1px solid transparent;
    outline: none;
    border-radius: .8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    touch-action: manipulation;
    justify-content: center;
    
}

.btn-kakao {
    background-image: url('/kakao_icon.png');
    background-size: 20px;
    background-position: 12px 49%;
    background-repeat: no-repeat;
    background-color: #FFEB00;
    color: #3c1e1e !important;
    padding: 1rem 2.5rem;
    width: 100%;
    height: 4.2rem;
}

.btn-signin {
    background-color: variable.$color-mint;
    padding: 1rem 4rem;
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    &:hover {
        background-color: rgba(23, 193, 160, 0.45);
    }
}

.btn-guest {
    font-size: 1.2rem;
    background-color: variable.$color-guest;
    padding: 1rem 2.5rem;
    height: 4rem;

    &:hover {
        border-color: #363636;
    }
    width: 100%;

}
.btn-findId{
    background-color: transparent;
    border: transparent;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}
.btn-user-type{
    height: 6.8867rem;
    padding: 1.2rem 2.5rem;
    color: #363636;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgba(54,54,54,0.2);
    background-color: transparent;
    font-weight: bolder;
    transition: .2s ease;
    &__1{
        border-top-left-radius: .4rem ;
        border-top-right-radius: .4rem;
        // border: ;
        &:hover{
            border: 1px solid #363636;
        }
    }
    &__2{
        border-bottom-left-radius: .4rem ;
        border-bottom-right-radius: .4rem;
        &:hover{
            border: 1px solid #363636;
        }
    }
}