.item--card--container {
    position: relative;
    width: 33.1rem;
    height: 39.7733rem;
    border-radius: .8rem;
    cursor: pointer;
    &:hover {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            ;
            z-index: 1;
        }
    }
    .item-card {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
}

.item--card {
    &__like {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &--trolly {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: -0.5rem;
    }

    &--heart {
        width: 1.5rem;
        height: 1.5rem;
    }

    &--footer {
        margin-top: 3rem;
        display: flex;
        width: 33.1rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.3rem;
        color: #757575;
    }
}